body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif !important;
  letter-spacing: 1.5px !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#343434
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ingredient Detail Modal */
.css-79ws1d-MuiModal-root {
  z-index: auto !important;
}
.MuiButtonBase-root {
  font-family: 'Bebas Neue', sans-serif !important;
  letter-spacing: 1.5px !important;
}

/* Navbar */
#nav-bar * {
  font-family: 'Bebas Neue', sans-serif !important;
  display: 'flex';
  justify-content: 'space-between';
  font-weight: 400;
  font-size: 18px;
}

#nav-bar .MuiTypography-h3 {
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 40px !important;
  letter-spacing: 1.5px !important;
}

.MuiTypography-h3{
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 100px;
  letter-spacing: 1.5px !important;
}

/* Tables */
#table {
  user-select: "none";
}

#table > thead > tr > th {
  font-family: 'Bebas Neue', sans-serif !important;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #CDE7D9;
  border-bottom: 2px solid #636b744d;
}

#table > thead > tr > th:first-child {
  width: 40%;
  border-top-left-radius: 8px;
  padding-left: 20px;
  text-align: left;
}

#table > thead > tr > th:last-child {
  border-top-right-radius: 8px;
}

#table > tbody > tr:not(:last-child) {
  font-weight: 400;
  background-color: #84848405;
  border-bottom: 1px solid #636b744d;
}

#table >tbody > tr:hover {
  background-color: #0000000a;
}

#table >tbody > tr > td {
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif !important;
}

#table >tbody > tr > td:first-child {
  text-align: left; 
  padding-left: 20px;
}

#table > tbody > tr > td:nth-child(n+2) {
  text-align: center;
}

#table > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 8px;
}

#table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 8px;
}

.MuiPopper-root, .MuiPopper-root * {
  z-index: 1500
}

.green-text {
  color: #57AE7F
}

.orange-text {
  color: orange;
}

/* Charts */
.css-1xmeye7-MuiResponsiveChart-container {
  /* height: 100% !important; */
}