body {
  margin: 0;
  font-family: 'Roboto' !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ingredient Detail Modal */
.css-79ws1d-MuiModal-root {
  z-index: auto !important;
}

/* Navbar */
#nav-bar {
  font-family: 'Roboto' !important;
  background-color: #1bc36f;
  display: 'flex';
  justify-content: 'space-between';
}

/* Tables */
#table {
  font-family: 'Roboto';
  user-select: "none";
}

#table > thead > tr > th {
  font-weight: 500;
  background-color: #14c16b31;
}

#table > tbody > tr {
  font-weight: 400; 
  background-color: #84848405;
}

#table >tbody > tr:hover {
  background-color: #0000001f;
}

/* Buttons */
#primary-button {
  background-color: #1bc36f;
  font-family: 'Roboto';
}

#secondary-button {
  color: rgb(124, 124, 124)
}